html {
	box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

html{
  background: linear-gradient(#80daff, #80daff, #009fe1, #084080, #001a33, #000000);
}

#hamnav {
  width: 100%;
  background: #80daff;
  top: 0;
}

#hamnav label, #hamburger { display: none; }

#hamitems { display: flex; }
#hamitems a {
  width: 100%; 
  padding: 0px;
  color: white;
  text-decoration: none;
  text-align: center;
}

@media screen and (max-width: 768px){
#hamnav label { 
    display: inline-block; 
    color: white;
    font-style: normal;
    font-size: 2.5rem;
    padding: 10px;
  }

#hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
  }
#hamitems { display: none; }
#hamnav input:checked ~ #hamitems { display: block; }
}

html, body { 
  padding: 0; 
  margin: 0; 
  font-family: arial, sans-serif; 
}

#hamitems a:hover {
  background: #009fe1;
}

@media screen and (max-width: 768px){
  
#hamnav label { 
    display: inline-block; 
    color: white;
    background: #80daff;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

#hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
  }

#hamitems { display: none; }
#hamnav input:checked ~ #hamitems { display: block; }
}

button{
  width: 150px;
  height: 50px;
  background: black;
  text-transform: uppercase;
  color: #80daff;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  border: none;
}

footer{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 100px;
  width: 100%;
}

h1 {
    padding: 30px;
    display: block;
    color: white;
    text-align: center;
    font-size: 6vw;
    text-align: center;
    opacity: 55%;
}

figure{
  float: right;
  margin-right: -575px;
}

html {
	box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

#hamnav {
    width: 100%;
    background: #80daff;
    top: 0;
  }
  
  #hamnav label, #hamburger { display: none; }
  
  #hamitems { display: flex; }
  #hamitems a {
    width: 100%; 
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  
  @media screen and (max-width: 768px){
    #hamnav label { 
      display: inline-block; 
      color: white;
      font-style: normal;
      font-size: 2.5em;
      padding: 10px;
    }
  
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
    }
  
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
  }
  
  html, body { 
    padding: 0; 
    margin: 0; 
    font-family: arial, sans-serif; 
  }
  
  #hamitems a:hover {
    background: #009fe1;
  }
  
  @media screen and (max-width: 768px){

    #hamnav label { 
      display: inline-block; 
      color: white;
      background: #80daff;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
    }
  
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
  }
  
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: white;
    border: 10px solid #80daff;
  }

  a{
    max-width: 33%;
    padding: 25px;
  }
  
  header{
    text-align: center;
    font-size: 4rem;
    color: darkblue;
  }

  #wireFrame{
    height: 150px;
    width: 33%; 
    text-decoration: none;
  }

  #projectProposal{
    height: 150px;
    width: 33%;
    text-decoration: none;
 
  }

  #uxReport{
    text-decoration: none;
  }

  #one{
    width: 33%;
    height: 150px;
    text-decoration: none;
  }

  #moreMain{
    width: 97%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }

  #contentAttribution{
    height: 150px;
    text-decoration: none;
  }
  
  header{
    color: white;
    opacity: 55%;
  }


  #diveIn{
    width: 100%;
    background: transparent;
    color: white;
    font-size: 2em;
    opacity: 55%;
  align-self: end;
  }


  #downArrow{
    width: 100%;
    background: transparent;
    color: white;
    font-size: 1.5em;
    animation: blinker 1s linear infinite;
    font-size: 5rem;
  }

  @keyframes blinker {
    100% {
      opacity: 0;
    }
  }

  #bodyMain{
    display: grid;
    grid-template-rows: 7fr 1fr 1fr;
    height: 100vh;
    background-color:#80daff;
  }

  main{
    background-color: white;
    border: none;
    text-decoration: none;
  }

#one{
  width: 33%;
  height: 350px;
  text-decoration: none;
  text-align: center;
  color: #084080;
  padding-left: 7.5%;
  padding-right: 7.5%;
  
}

#two{
  width: 33%;
  height: 350px;
  text-decoration: none;
  text-align: center;
  color: #084080;
  padding-left: 7.5%;
  padding-right: 7.5%;
  
}

#three{
  width: 33%;
  height: 350px;
  text-decoration: none;
  text-align: center;
  color: #084080;
  padding-left: 7.5%;
  padding-right: 7.5%;
}

#learnMore{
  margin-bottom: 35px;
  margin-top: 25px;
}

#project{
    margin-bottom: 35px;
    margin-top: 25px;
  }

section:hover{
  color:#009fe1;
  opacity: 50%;
}

#moreProject{
  display: grid;
  justify-content: space-evenly;
  margin: 0px;
  color: #084080;
  wrap: nowrap;
  text-align: center;

}

#projectProposal{
  width: 25%;
  color: #084080;
  margin-left: 8.5vw;
}

#wireFrame{
  width: 25%;
  color: #084080;
  margin-left: 8.5vw;
}

#uxReport{
  width: 25%;
  color: #084080;
  margin-left: 8.5vw;
}

#contentAttribution{
  width: 25%;
  color: #084080;
  margin-left: 8.5vw;
}

#turtles{
  margin-left: 43vw;
}

#coralreef{
  margin-left: 55vw;
}

#baitball{
}

#deepBlue{
  padding-top: 30vh;
}

#dolphins{
  margin-left: 22vw;
}


#whaleshark{
  margin-left: 37vw;
}

#tunafish{
  margin-left: 43vw;
}

#jellyfish{
  margin-left: 40vw;
}

#octopus{
  margin-left: 50vw;
}

footer{
  position: relative;
  align-self: center;
  background-color: black;
  color: black;
  margin-left: 5vw;
}

#bubbleOne{
  padding: 0px;
  margin-left: -5vw;
  margin-right: -15vw;
}

#bubblesMediumTurtles{
  padding: 0px;
  margin-right: -6vw;
}

#bubbleTwo{
  padding: 0px;
  margin-left: 20vw;
  margin-right: -15vw;
}

#bubblesMediumCoralreef{
  padding: 0px;
  margin-right: -6vw;
}

#bubbleThree{
  padding: 0px;
  margin-left: -12vw;
  margin-right: -15vw;
}

#bubblesSmallBaitball{
  padding: 0px;
  margin-left: 30vw;
  margin-right: -3.5vw;
}

#bubbleFour{
  padding: 0px;
  margin-left: -5vw;
  margin-right: -15vw;
}

#bubblesSmallDolphins{
  padding: 0px;
  margin-left: 43vw;
  margin-right: -3.5vw;
}

#bubbleFive{
  padding: 0px;
  margin-left: -11.5vw;
  margin-right: -15vw;
}

#bubblesMediumWhaleshark{
  padding: 0px;
  margin-right: -6vw;
}

#bubbleSix{
  padding: 0px;
  margin-right: -15vw;
}

#bubblesMediumTuna{
  padding: 0px;
  margin-right: -6vw;
}

#bubbleSeven{
  padding: 0px;
  margin-left: -11.5vw;
}

#bubblesSmallSharks{
  padding: 0px;
  margin-left: 30vw;
  margin-right: -3vw;
}

#bubbleEight{
  padding: 0px;
  margin-left: -11.5vw;
}

#bubblesSmallHumpbackwhale{
  padding: 0px;
  margin-left: 38vw;
  margin-right: -3vw;
}

#bubbleNine{
  padding: 0px;
  margin-left: 15vw;
  margin-right: -15vw;
}

#bubblesMediumJellyfish{
  padding: 0px;
  margin-right: -6vw;
}

#bubbleTen{
  padding: 0px;
  margin-left: -11.5vw;
}

#bubblesSmallGiantsquid{
  padding: 0px;
  margin-left: 40vw;
  margin-right: -3vw
}

#bubbleEleven{
  padding: 0px;
  margin-left: -11.5vw;
}

#bubblesSmallAnglerfish{
  padding: 0px;
  margin-left: 33vw;
  margin-right: -3vw
}

#bubbleTwelve{
  padding: 0px;
  margin-left: 15vw;
  margin-right: -15vw;
}

#bubblesMediumOctopus{
  padding: 0px;
  margin-right: -6vw;
}

#octopus{
  margin-bottom: 40vh;
}

.seaAnimals{
  margin-bottom: 65vh;
}

#learnMoreBody{
  background-color: #80daff;
}